label {
  text-align: left;
}

.textinput {
  border-radius: 5px;
  width: 100%;
}

.text-error {
  border: 2px solid red;
}

.text-error-msg {
  display: initial;
  color: red;
  font-weight: bold;
  font-size: 15px;
}

.text-no-error {
  display: none;
}

.inputField {
  margin-bottom: 10px;
}
